$color: blue;

.h {
    transform: translateX(50);
    color: $color;
}

.smallImg {
    width: 69px;
    height: 75px;
    background: url('@/assets/imgs/wechat.png') no-repeat;
}
.smallImg1 {
    width: 69px;
    height: 75px;
    background: url('@/assets/imgs/wechat.png') no-repeat;
}
.smallImg2 {
    width: 69px;
    height: 75px;
    background: url('@/assets/imgs/wechat.png') no-repeat;
}